.ui.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-top: 8em;
}

.ui.form .ui.button {
  align-self: center;
  width: 313px;
  margin-left: 6px;
}

.ui.form .field .ui.left.icon.input {
  width: 19.5em;
}
.ui.form img {
  align-self: center;
  margin-bottom: 25px;
}