#pengajuan-container.ui.container {
  width: 1270px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.ui.container h1{
  margin-bottom: 1em;
}

.ui.form .ui.primary.button {
  background-color: #3FA143;
  padding: 1em;
  width: 10em;
  margin-top: 0.5em;
  color: white;
}

.ui.modal {
  padding: 5em;
}

#create.ui.button{
  margin-top: 1.5em;
  color: white;
}